.card {
    margin: 4rem;    
    border-radius: 7px;
}
.featured-card {
    height: 165px;
       
}
.astro {
    background-color:#27536B;
    background-image: url("../assets/astronaut.png");
    background-size: 95%;
    background-position: 0px -40px;
    
    }
