.article-card {
    height: 600px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    p{
        margin-top: 20px;
        margin-bottom: 100px;
    }
    
}
.logo {
    display: flex;
    padding-left: 2.5rem;
    padding-top: 5rem; 
    padding: 5rem 2.5rem 0.5rem 2.5rem; 
}
.tags {
    padding-left: 3.5rem;
     
}
.purple-tag {
    background-color: #DAD7FE;
}
.yellow-tag {
    background-color: #FFF5CC;
}
.cyan-tag {
    background-color: #C8F3F9;
}
.banner-lat {
    width: 100%;
    min-width: 204px;    
}
.playlist-container {    
    display: flex ;
        img { 
            border-radius: 5px;                       
            margin: 1.5rem;            
        }
        p{
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
            margin: 0 1.5rem;
        }
    }
.img-list2 {
    width: 150px;
    border-radius: 5px;
}
.img-list3 {
    width: 160px;
}
.line {
    background: #004EFF;
    width: 45px;
    height: 7px;
    border-radius: 5px;
}
.titles-container {
    display: flex;
    h5 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        margin: 5px 0;
        padding-right: 1.5rem;       
    }
    
}
.circle {    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Playfair Display', serif;        
    border-radius: 100%;
    background: #004EFF;
    color: white;
    width: 3.5rem;
    height: 3.5rem;    
          p {          
            transform: translateY(-100px);             
            font-size:  25px;                                
          }
}
.faceslist-container {
    display: flex;
    margin-top:40px;
    font-family: 'Roboto Mono', monospace;
    img {
        width: 75px;
        margin-bottom: 15px;
    }
    p {
        font-family: 'Roboto Mono', monospace;
        font-size: 15px;
        padding-top: 8px;
        margin-left: 10px;
        
    }
    span {
        font-size: 18px;
        font-weight: bold;
    }
    
}
.column1, .column2 {
    width: 50%;
    
}
.column2 {
    margin-left: 5rem;
}
.faces {
    display: flex;
}