* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: block;
    margin: 0 auto;
    width: 90%;      
    background:#C9E4F4;
    height: 100vh;
}
iframe {
    margin-top: 50px;
    padding: 0 20px;
}
.big-card {
    display: flex;
    justify-content: center;    
    margin: 5rem 10rem;       
    padding: 4rem ;
    background: white;
    border-radius: 10px;
}