h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    line-height: 50px;

}
h2 {
    margin: 1.5rem ;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}
h3 {
    display: inline-block;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 0 1rem;    
}
h4 {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin: 0 1.3rem;
    letter-spacing: -1px;
}
p {    
    font-family: 'Playfair Display', serif;
    font-size: 18px;    
}
