h1 {
    font-size: 1.6rem;
    line-height: 50px;

}
h2 {
    display: inline-block;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 0 1rem;
    
}
p {
    font-size: 1.8rem;
    
}